@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-inter);
  overflow: hidden;
}
